@media only screen and (max-width: 426px) {
    .root {
        padding-top: 0.5rem !important;
        align-items: center !important;
        flex-direction: column !important;
    }
}

@media only screen and (min-width: 768px) {
    .root {
        padding-left: 8rem !important;
        padding-right: 8rem !important;
    }
}
